@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Puddles&display=swap');
/* Estilo del encabezado */
.header {
    background-color: #fd8efd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h1-clay {
    color: #f2e9e4;
    margin: 0;
    font-size: 20px;
    font-family:"Rubik Puddles", system-ui;
}

.p-bysara {
    color: #f2e9e4;
    font-size: 14px;
    margin: 0;
}

.nav-contenedor img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Estilo del contenedor del menú */
.listas {
    display: flex;
    justify-content: center;
}

/* Menú principal */
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav > li {
    position: relative;
    margin: 0 20px;
}

.nav > li > a {
    color: #f2e9e4;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s;
}

/* Efecto de hover en el menú principal */
.nav > li > a:hover {
    background-color: #fea5f0;
    border-radius: 5px;
}

/* Estilo del submenú */
.nav > li ul {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none; /* Ocultar el submenú por defecto */
    background-color: #ffaff0;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(223, 162, 216, 0.3);
}

/* Mostrar el submenú al hacer hover en el elemento principal */
.nav > li:hover ul {
    display: block;
}

/* Estilo de los enlaces del submenú */
.nav > li ul li a {
    color: #f2e9e4;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s;
}

/* Hover en el submenú */
.nav > li ul li a:hover {
    background-color: #c9ada7;
    border-radius: 5px;
}
