.header {
    height: 150px;
    width: 100%;
    
}

.titulo-clay {
    border: solid rgb(209, 79, 209);
    border-radius: 10px;
    background: pink;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.bysara {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.contenedor {
    height: 1000px;
    width: 50%;
    background-color: blue;
   position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

body {
    background: #FFB7CE;
}

.seccion {
    
    height: 300px;
    width: 400px;
    background-color: brown; 
    
}
  
.section-2 {
    background-color: coral;
    height: 1000px;
    width: 50%;
    position: relative;
    top: -1000px; ;
    left: 50%;
    
}

.kitty {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    
}

