.header {
    height: 150px;
    width: 100%;
    
}

.titulo-clay {
    border: solid rgb(209, 79, 209);
    border-radius: 10px;
    background: pink;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.bysara {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.section-1 {
    height: 1000px;
    width: 80%;
    background-color: rgba(0, 0, 255, 0.041);
    border-radius: 10px;
    border: 5px solid #FF007F
   position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

body {
    background: #FFB7CE;
}

.seccion {
    
    height: 300px;
    width: 400px;
    background-color: brown; 
    
}
  
.section-2 {
    background-color: coral;
    height: 1000px;
    width: 20%;
    position: relative;
    top: -1000px; ;
    left: 80%;

}

.kitty {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    
}

