@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Puddles&display=swap');
.header {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    /*background-image: url(https://i.imgur.com/WysWtxV.jpeg);*/
    border: 2px solid rgb(25, 25, 25);
    border-radius: 10px;
    /* agregué estos ultimos 3 propiedades (display, align-itmes, justyfy-content)y el menú se centró*/
    display:grid
}
.listas{
border: 2px solid black;    
position: absolute;
top: 50%;
left: 30%;
}
.nav-contenedor{position: relative;}
.h1-clay {
    height: 70px;
    font-size: 4em;
    margin-top: 15px;
    margin-bottom: 0px;
    border-radius: 5px;
    border:5px solid palevioletred;
    color: black;
    background-color: pink;
    font-family:"Rubik Puddles", system-ui;
    text-align: center;

}
.p-bysara{
    text-align: center;
    font-size: 1.5em;
    font-family:"Playwrite GB S", cursive;
    position: absolute;
    top: -15%;
}
body {
    background-color: pink;
}
ul,ol,li {
    list-style: none;
    padding-top: 5px;
    padding-right: 5px;
}
.listas li a {
    background-color: darksalmon;
    color:azure;
    text-decoration: none;
    border: 2px solid palevioletred;
    border-radius: 5px;
}
.listas li a:hover {
    background-color:pink ;
}
.listas>li {
    float:left
}
.listas li ul{
    display: none;
    position: absolute;
}
.listas li:hover>ul{
    display:block
}
.listas li ul li {
    position: relative;
    top: 0;
    left: 50px;
}
/*esta propiedad de display:inline-block, me permitió poner horizontalmente los items de las categorias*/
li {display: inline-block;}
/*cuando a img le pongo position absolute, las imagenes del footer se mueven hasta arriba*/
img{width:80% ;
height:auto ;
position: relative;
top: 0;
left: 15%;
}

.section-principal{
    position: relative;
    width:100%;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}
.article-principal{
    margin-top: 50px;
    width: 100%;
    border: 2px solid black;
}
/*figure {display: flex;
align-items: center;
justify-content: center;}*/
footer{
    width:100%;
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 20px;
    height: auto;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}
/*soy la mera verga ya le voy entendiendo a esto esto me permitió centrar el enlace y el figurecaption dentro de figure*/ 
figure figcaption,a{
    display: flex;
    align-items: center;
    justify-content: center;
}
figure a {
    text-decoration: none;
}